#searchbar {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 41px;
  margin: 0 0 0 12%;
}
#searchbar input {
  border-radius: 50px;
  border: transparent;
  width: 100%;
  font-size: 14px;
  outline: none;
  padding: 10px 15px;
}
#searchbar select {
  position: absolute;
  top: 0;
  right: 10%;
  border: none;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  width: auto;
  height: 100%;
  outline: none;
}
#searchbar .search-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
}

#searchbar .search-icon button {
  border: none;
  background: none;
  color: #3885fe;
}
